Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
*.blend1
Content/InteractiveLights
Content/Developers
Content/LowPoly_Cat
Content/OfficeScene
Content/TMSportPack
Content/TwinmotionMaterials
Content/ExternalAssets
Content/HQ_ResidentialHouse
Content/HouseplantPack
Content/SMART-ArchVizPack01
